<div class="box-rtp">
    <h1 class="rtp-title">Administre aquí el catalogo de venta</h1>
    <div id="moving" class="addel">
        <form id="addFormRealTime">
            <label for="title">Nombre del producto</label>
            <input type="text" name="title" id="title">
            <br>
            <label for="description">Descripción del producto</label>
            <br>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <br>
            <label for="price">Precio del producto</label>
            <input type="text" name="price" id="price">
            <br>
            <label for="thumbnail">Foto del producto</label>
            <input type="text" name="thumbnail" id="thumbnail">
            <br>
            <label for="stock">Stock del producto</label>
            <input type="text" name="stock" id="stock">
            <br>
            <label for="category">Categoria del producto</label>
            <input type="text" name="category" id="category">
            <br>
            <button id="addbtnRealTime" type="submit">Add product</button>
        </form>

        <h2>Delete product</h2>
        <form id="deleteFormRealTime">
            <label for="title">Nombre del producto</label>
            <input type="text" name="title" id="title">
            <br>
            <label for="description">Descripción del producto</label>
            <br>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <br>
            <label for="price">Precio del producto</label>
            <input type="text" name="price" id="price">
            <br>
            <label for="thumbnail">Foto del producto</label>
            <input type="text" name="thumbnail" id="thumbnail">
            <br>
            <label for="stock">Stock del producto</label>
            <input type="text" name="stock" id="stock">
            <br>
            <label for="category">Categoria del producto</label>
            <input type="text" name="category" id="category">
            <br>
            <button id="delbtnRealTime" type="submit">Delete Product</button>
        </form>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
<link rel="stylesheet" href="/css/{{style}}">